body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(90deg, #0f172a, #1e293b);
    color: white;
    padding: 20px;
    text-align: center;

}

.headdiv1 h1 {
    margin: 0;
    font-size: 32px;
    letter-spacing: 1px;
}

.headdiv2 img {
    width: 120px !important;
    height: auto !important;
    border-radius: 10px;
    margin-top: 10px;
}

/* Navigation */
nav {
    background-color: #1e293b;
    padding: 12px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffecec;
}

/* Main content */
main {
    padding: 25px;
    background-color: white;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Sections */
section {
    margin-bottom: 30px;
}

h2 {
    color: #1e293b;
    border-left: 5px solid rgb(188, 191, 192);
    padding-left: 10px;
}

/* Trainee cards style */
#trainees p {
    background: #f1f5f9;
    padding: 10px;
    border-radius: 6px;
}

/* Form */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1e293b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #38bdf8;
    color: black;
}

/* Footer */
footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/* Layout fix */
div {
    overflow: auto;
}

.headdiv1 {
    width: 90%;
    float: left;
    text-align: center;
}



header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

